.page-title {
    padding-top:30px !important;
    /* padding-bottom:60px !important; */
    color:#212121 !important;
    font-size:60px !important;
    font-weight: 400 !important;
}

.user_content {
    max-width:765px;
    margin: 0px auto;
}

.user_content img {
    padding-bottom: 30px;
    max-width:765px;
}

.user_content h1 {
    font-size:60px;
    line-height: 72px;
    color: #212121;
}

.user_content h2 {
    border-top:1px solid #dddddd;
    margin-top:60px;
    padding-top:60px;
    padding-bottom:12px;
    font-size:32px;
    line-height: 38px;
    color: #212121;
}

.user_content h3 {
    margin-top:30px;
    font-size:24px;
    line-height: 29px;
    color: #212121;
  
}

.user_content p {
    font-size:16px;
    line-height: 32px;
    color: #212121;
}

.user_content li {
    font-size:16px;
    line-height: 24px;
    color: #212121;
    padding:9px 0px;
}

.sKFiL {
    display:none !important;
}
